/*Tipo de letra:*/
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');
body{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    overflow-x: hidden !important;
}

a{
    text-decoration: none;
}

p{
    margin: 0;
}

ul{
    margin: 0;
}

ul > li{
    list-style: none;
}

ol{
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6, li, label, input, a, select, textarea, button {
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

.hidden{
    visibility: hidden;
}

.disable{
    display: none;
}
