@import url(general.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);
@import url(configuraciones.css);

/*
#ffb677
#ffd573
#0043cc
#008eff
#7ae7ff

#006c74
#009faa
#6594db
*/


/*
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
*/